<header scroll-position="scroll" ng-class="{'dark':scroll > 0}">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">

        <div class="logo-wrap">
          <div class="logo">
            <a href="#/"><img src="assets/images/logo.png" alt="Logo"></a>
          </div>
        </div>

        <div class="top-row col-sm-9">
          <div class="row">
            <div class="hidden-xs col-sm-4 phone">
              <a href="tel:+78888888">+7 888 88 88</a>
            </div>

            <div class="col-sm-4 socials">
              <ul class="list-unstyled list-inline">
                <li><a href="http://twitter.com" target="_blank">Tw</a></li>
                <li><a href="http://vk.com" target="_blank">Vk</a></li>
                <li><a href="http://facebook.com" target="_blank">Fb</a></li>
                <li><a href="http://instagram.com" target="_blank">Ins</a></li>
              </ul>
            </div>

            <div class="hidden-xs col-sm-4 cart">
              <span class="count">Cart: {{cart.items.length}}</span>
              <img src="assets/images/cart.png" alt="">  
            </div>
          </div>
        </div>
        
        <div class="navbar-wrap">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navigation" collapse="!navbarCollapsed">
            <ul class="nav nav-pills nav-justified">
              <li><a href="#/">Menu item</a></li>
              <li><a href="#/">Menu item</a></li>
              <li><a href="#/">Menu item</a></li>
              <li><a href="#/">Menu item</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div>

            
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <form class="filters" ng-class="{'fixed-fltrs':scroll > 0}">
        <h4>Filters</h4>

        <div class="properties">
          <div class="form-group">
            <div class="checkbox" ng-repeat="product in products | unique:'prop'">
              <label>
                <input type="checkbox" ng-click="filters.addProp('{{product.prop}}')" value="{{product.prop}}">
                {{product.prop}}
              </label>
            </div>
          </div>
        </div>

        <div class="price-range">
          <h4>Price Range</h4>
          
          <div class="slider-values clearfix">
            <span class="value">{{filters.price.val[0]}}</span> - <span class="value">{{filters.price.val[1]}}</span> 
          </div>

          <price-slider></price-slider>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="products">
        <div class="product-item clearfix" ng-repeat="product in filtered = products | priceRange:filters.price.val | filterByProps:filters.props | startFrom:(curPage-1)*pageSize | limitTo:pageSize" ng-class-odd="'odd'" ng-class-even="'even'">
          <div class="img-wrap">
            <img ng-src="assets/images/{{product.image}}" alt="{{product.name}}">
          </div>
          <div class="descr">
            <h2>{{product.name}}</h2>
            <p class="hidden-xs">{{product.description}}</p>
            <p class="visible-xs">{{product.description | cut:true:90}}</p>
          </div>
          <div class="price">
            <span>{{product.price}} $</span>
          </div>
          <div class="actions">
            <button class="btn" type="button" ng-click="cart.buy(product)">Buy now</button>
            <button class="btn" type="button" ng-click="cart.add(product)">Add to cart</button>
          </div>
        </div>
      </div>
      
      <div id="pager">
        <pagination ng-model="curPage" max-size="noOfPages" total-items="productsCount" direction-links="false" items-per-page="pageSize"></pagination>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <div class"row">
        <div class="col-xs-12 col-sm-9 col-sm-push-3">
          <ul class="footer-nav list-unstyled list-inline">
            <li><a href="#/">Menu item</a></li>
            <li><a href="#/">Menu item</a></li>
            <li><a href="#/">Menu item</a></li>
            <li><a href="#/">Menu item</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-pull-9">
          <p>copyright 2015</p>
        </div>
      </div>
    </div>
  </footer>
</div>
