/**
 * Haeder
 */
header {
  height: 100px;
  transition: all .2s linear;

  .container-fluid,
  .navbar,
  .cart img {
    transition: all .2s linear;
  }
  .top-row {
    transition: height .2s linear, line-height .2s linear;
  }

  .container-fluid,
  .navbar {
    height: 80px;
  }
}
header.dark {
  .navbar {
    background: #797979;
  }
  .navbar-toggle {
    .icon-bar {
      background-color: #e2e2e2;
    }
  }
  .phone a {
    color: #fff;
  }
  .cart {
    color: #fff;
    img {
      opacity: 1;
      height: 58px;
      width: 74px;
    }
  }
}
.navbar {
  border: 0;

  .container-fluid {
    position: relative;
  }

  .nav {
    a {
      border-radius: 0;
      background-color: #e2e2e2;
      font-size: 18px;
      line-height: 18px;
      min-width: 120px;
    }
  }
  .nav-pills > li + li {
    margin-left: 0;
  }  
}
.logo-wrap {
  float: left;
  padding: 0 15px;
  text-align: center;
  width: 40%;

  .logo {
    background: #e3e3e3;
    height: 80px;
    line-height: 79px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.top-row {
  height: 30px;
  line-height: 30px;
  margin-left: 40%;

  .socials {
    ul {
      text-align: center;
      margin: 0;
    }

    a {
      background: #e2e2e2;
      font-size: 12px;
      padding: 0 4px;
    }
  }

  .cart {
    text-align: right;

    .count {
      margin-right: 15px;
    }
  }

  .phone {
    font-size: 24px;
  }
} 
.navbar-wrap {
  border: 0;
  bottom: 0;
  height: 50px;
  position: absolute;
  right: 15px;
  z-index: 99;
}
.navbar-header {
  margin-bottom: 4px;
}
.navbar-toggle {
  margin-right: 0;

  .icon-bar {
    background-color: #797979;
    width: 50px;
  }
}
.navbar-collapse {
  padding: 0;
}
@media (min-width: 768px) {
  header {
    height: 160px;

    .navbar,
    .container-fluid {
      height: 140px;
    }
  }
  header.dark {
    .top-row {
      height: 40px;
      line-height: 40px;
    }
    .navbar,
    .container-fluid {
      height: 80px;
    }
    .cart {
      img {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }  
  .logo-wrap {
    width: 25%;
    
    .logo {
      height: 140px;
      line-height: 139px;
    }    
  }
  .top-row {
    height: 58px;
    line-height: 58px;
    margin-left: 0;

    .socials {
      padding-top: 0;
    }
  }  
  .navbar-wrap {
    bottom: 0;
    height: 38px;
    padding-left: 30px;
    width: 75%;

    .nav {
      li {
        padding-right: 10px;
      }
      li:last-child {
        padding-right: 0;
      }
    }  
  }
}

/**
 * Filters
 */
.filters {
  margin-bottom: 30px;

  h4, label {
    font-size: 18px;
    font-weight: normal;
  }
}
.price-range {
  .form-control {
    background-color: #e2e2e2;
    border: 0;
    border-radius: 0;
    display: block;
    float: left;
    font-size: 12px;
    height: 25px;
    padding: 0 5px;
    width: 120px;
  }
}
.price-range {
  .slider-values {
    margin-bottom: 10px
  }
  .value {
    background-color: #e2e2e2;
    display: inline-block;
    padding: 0 5px;
    line-height: 1.4;
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .price-range {
    min-width: 150px;
  }
  .fixed-fltrs {
    position: fixed;
  }
}


/**
 * Products
 */
.product-item {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;

  h2 {
    font-size: 18px;
  }

  button {
    background: #e2e2e2;
    border-radius: 0;
  }

  img {
    width: 100%;
  }

  .img-wrap {
    float: left;   
    margin-bottom: 15px;
    padding-right: 15px;
    width: 40%; 
  }

  .descr {
    margin-left: 40%;

    h2 {
      margin-top: 0;
    }
  }
    
  .actions {
    clear: left;

    button {
      float: left;
      font-size: 18px;
      margin-bottom: 15px;
      margin-right: 4%;
      width: 48%;
    }

    button:last-child {
      margin: 0;
    }
  }

  .price {
    font-size: 32px;
    line-height: 40px;
    margin-left: 42%;
    margin-bottom: 5px;
    white-space: nowrap;
  }
}
.product-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .product-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    
    .img-wrap {
      margin-bottom: 0;
      padding-right: 0;
      width: 28%;
    }

    .descr {
      float: left;
      margin-left: 0;
      width: 43%;
    }
      
    .price,
    .actions {
      position: absolute;
      width: 25%;
    }

    .price {
      font-size: 36px;
      margin-left: 0;
      text-align: center;
      top: 0;
    }

    .actions {
      bottom: 15px;
      float: none;

      button {
        float: none;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .product-item.odd {
    .img-wrap {
      margin-right: 2%;
    }

    .descr {
      margin-right: 2%;
    }
      
    .price,
    .actions {
      right: 0;
    }
  }
  .product-item.even {
    .img-wrap {
      float: right;
      margin-left: 2%;
    }

    .descr {
      float: right;
      margin-left: 2%;
    }
      
    .price,
    .actions {
      left: 0;
    }
  }
}

/**
 * Pagination
 */
#pager {
  text-align: center;

  ul {
    display: inline-block;
  }

  a {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #000;
  }

  .active {
    a {
      text-decoration: underline;
    }
  }
}

/**
 * Footer
 */
footer {
  background: #e2e2e2;
  padding: 30px 0 20px 0;
}
@media (min-width: 768px) {
  .footer-nav {
    text-align: right;
  }
}


/**
 * Animations
 */
.product-item.ng-enter {
  transition: .2s linear all;
}
.product-item.ng-enter {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.product-item.ng-enter.ng-enter-active {
  height: 150px;
  opacity: 1;
}