body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #000;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1024px;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
